@use 'palette';
@use 'sass:color';

$grid-size: 200px;
$margin: 24px;

body {
  background: palette.$c1;
  color: palette.$c5;
  text-align: center;

  // Prevent text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .info {
    display: grid;
    grid-template-columns: repeat(3, $grid-size);
    gap: calc($margin / 2);
    width: min-content;
    margin: $margin auto;

    .infobox {
      padding: 0;

      height: 120px;
      border: 3px solid palette.$c5;
      border-radius: 6px;
      font-size: 24px;

      position: relative;

      .label {
        background: palette.$c5;
        color: palette.$c1;
      }

      .player1, .turn, .player2 {
        font-size: 4rem;
        font-weight: bold;
      }
    }
  }

  .game-board {
    display: grid;
    grid-template: repeat(3, $grid-size) / repeat(3, $grid-size);
    gap: $margin calc($margin / 2);

    margin: $margin auto;
    width: min-content;

    .square {
      border: 12px solid palette.$c5;
      border-radius: 24px;

      font-weight: bold;
      font-size: 180px;
      line-height: 180px;

      box-shadow: 0 calc($margin / 1.5) 0 0 palette.$c4;

      transition-timing-function: ease-in;

      &:hover {
        box-shadow: 0 calc($margin / 2) 0 0 palette.$c4;
        transform: translateY(calc($margin / 6));
        transition: box-shadow 0.15s, transform 0.15s;
      }

      &:active {
        box-shadow: 0 calc($margin / 6) 0 0 palette.$c4;
        transform: translateY(calc($margin / 2));
        transition: box-shadow 0.05s, transform 0.05s;
      }
    }

    .X {
      background: palette.$c2;
      color: palette.$c5;

      &::before {
        content: '✖';
      }
    }

    .O {
      background: palette.$c3;
      color: palette.$c1;

      &::before {
        content: 'ⵔ';
      }
    }

    .X:hover, .O:hover,
    .X:active, .O:active {
      box-shadow: 0 calc($margin / 1.5) 0 0 palette.$c4;
      transform: unset;
    }
  }

  // .buttons {
  //   button {

  //   }
  // }

  #win-screen {
    display: none;
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: color.adjust(palette.$c5, $alpha: -0.5);

    .win-window {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      padding: $margin;

      background: palette.$c1;
      border: 12px solid palette.$c4;
      border-radius: 12px;
      font-size: 1.25rem;

      & > p:first-child {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
