@use 'palette';
@use 'sass:color';

// @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@font-face {
  font-family: 'Share Tech Mono';
  src: url('/font/ShareTechMono-Regular.ttf');
}

$grid-size: 200px;
$margin: 24px;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-color: palette.$c1;
  background-image: url('img/background.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  image-rendering: pixelated;
  color: palette.$c5;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;

  // Prevent text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: color.adjust(palette.$c1, $alpha: -0.1);
  width: min-content;
  height: min-content;
  max-height: 100vh;

  border: calc($margin / 4) solid palette.$c4;
  border-radius: 0 0 $margin $margin;

  .container {
    padding: calc($margin / 2) calc($margin * 2);
  }

  &:before {
    display: block;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;

    content: "tic-tac-toe";
    font-size: 1.25rem;
    text-align: left;

    color: palette.$c1;
    background-color: palette.$c4;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0.5rem;

    content: "▤ ▣ ▩";
    font-size: 1.25rem;
    color: palette.$c1;
  }

  button {
    border-width: 4px;
    border-radius: 8px;
    font-size: 1.5rem;
  }
}

.X {
  background: palette.$c2;
  color: palette.$c5;
}

.O {
  background: palette.$c3;
  color: palette.$c1;
}


.info {
  display: grid;
  grid-template-columns: repeat(3, $grid-size);
  gap: calc($margin / 2);
  width: min-content;
  margin: auto;

  .infobox {
    padding: 0;

    border: 3px solid palette.$c5;
    border-radius: 6px;
    font-size: 24px;

    div[class$="label"] {
      background: palette.$c5;
      color: palette.$c1;
      font-style: italic;
      white-space: pre-wrap;
    }

    div[class$="info"] {
      height: calc($grid-size * 0.4);
      font-size: 4rem;
      font-weight: bold;
      line-height: calc($grid-size * 0.4);
    }
  }
}

.game-board {
  display: grid;
  grid-template: repeat(3, $grid-size) / repeat(3, $grid-size);
  gap: $margin calc($margin / 2);

  margin: $margin auto;
  width: min-content;

  .square {
    border: 12px solid palette.$c5;
    border-radius: 24px;

    font-weight: bold;
    font-size: 180px;
    line-height: 180px;

    box-shadow: 0 calc($margin / 1.5) 0 0 palette.$c4;

    transition-timing-function: ease-in;

    &:hover {
      box-shadow: 0 calc($margin / 2) 0 0 palette.$c4;
      transform: translateY(calc($margin / 6));
      transition: box-shadow 0.15s, transform 0.15s;
    }

    &:active {
      box-shadow: 0 calc($margin / 6) 0 0 palette.$c4;
      transform: translateY(calc($margin / 2));
      transition: box-shadow 0.05s, transform 0.05s;
    }
  }

  .X::before {
    content: '✖';
  }

  .O::before {
    content: 'ⵔ';
  }

  .X:hover, .O:hover,
  .X:active, .O:active {
    box-shadow: 0 calc($margin / 1.5) 0 0 palette.$c4;
    transform: unset;
  }
}

button {
  padding: calc($margin / 4) calc($margin / 2);

  background: palette.$c2;
  border: 2px solid palette.$c4;
  border-radius: 4px;
  color: palette.$c5;

  font-weight: bold;
}

#names-screen {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  background: color.adjust(palette.$c5, $alpha: -0.5);

  .names-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: $margin;

    background: palette.$c1;
    border: 12px solid palette.$c4;
    border-radius: 12px;
    font-size: 1.25rem;

    p, label {
      font-size: 1.5rem;
      font-weight: bold;
    }

    fieldset {
      margin-bottom: $margin;

      border: 1px solid palette.$c4;

      text-align: left;

      label {
        font-size: unset;
      }
    }

    #p1-input, #p2-input {
      width: 400px;

      input {
        margin-bottom: calc($margin / 2);

        background: palette.$c2;
        border: 1px solid palette.$c4;
        border-radius: 4px;
        color: palette.$c5;
      }
    }

    button {
      margin-top: calc($margin / 2);
    }
  }
}

#win-screen, #tie-screen {
  display: none;
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  background: color.adjust(palette.$c5, $alpha: -0.5);

  .win-window, .tie-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: $margin;

    background: palette.$c1;
    border: 12px solid palette.$c4;
    border-radius: 12px;
    font-size: 1.25rem;

    & > p:first-child {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
